input.grid-input-text {
  border-radius: 0.2rem;
  margin-top: 0.3rem;
  width: calc(100% - 9rem);
}

button.grid-input-button {
  border-radius: 0.2rem;
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  position: relative;
  top: 0.1rem;
  margin: 0.3rem 0 0 0;
  width: 4rem;
}

.select:after {
  position: absolute;
  right: 0.65rem;
  top: 1rem;
}

.wb-grid {
  border-right: none;
  border-bottom: none;
  border-top: 1px dashed var(--color-purple-2);
  border-left: 1px dashed var(--color-purple-2);
  grid-gap: 0px;
  min-height: 400px;
}
.wb-grid.gap {
  border-top: 0;
  border-left: 0;
}
.wb-grid .wb-grid-cell {
  border-right: 1px dashed var(--color-purple-2);
  border-bottom: 1px dashed var(--color-purple-2);
  grid-column-start: var(--grid-column-start);
  grid-column-end: var(--grid-column-end);
  grid-row-start: var(--grid-row-start);
  grid-row-end: var(--grid-row-end);
}
.wb-grid .wb-grid-cell.gap {
  border-top: 1px dashed var(--color-purple-2);
  border-left: 1px dashed var(--color-purple-2);
}
.wb-grid .wb-grid-cell:hover {
  background: var(--color-purple-4);
  z-index: 999;
}
.wb-grid .wb-grid-cell:hover button {
  opacity: 1;
}
.wb-grid .wb-grid-cell button {
  transition: none;
  border-radius: 0.15rem;
  background: var(--color-purple-3);
  margin: 0.3rem;
  opacity: 0;
  font-size: 1.5rem;
  line-height: 0;
  padding: 1.4rem 1rem;
}
.wb-grid .wb-grid-cell button:hover {
  transform: scale(1);
  box-shadow: none;
  background: var(--color-purple-2);
}
.wb-grid .wb-grid-cell button.grid-delete-item-button {
  background: var(--color-red-1);
  color: var(--color-red-3);
  font-size: 1rem;
  vertical-align: top;
}
.wb-grid .wb-grid-cell button.grid-delete-item-button:hover {
  background: var(--color-red-2);
  color: var(--color-black-2);
}
.wb-grid .wb-grid-cell button.move {
  font-size: 1rem;
  line-height: 1;
  position: absolute;
  padding: 0.25rem;
  background: var(--color-purple-3);
  opacity: auto;
  z-index: 999;
  width: 2.2rem;
  height: 2.2rem;
  background: inherit;
}
.wb-grid .wb-grid-cell button.move:hover {
  background: var(--color-purple-2);
  z-index: 9999;
}
.wb-grid .wb-grid-cell button.move svg {
  fill: var(--color-white-2);
}
.wb-grid .wb-grid-cell button.move.left {
  left: -2.5rem;
  top: calc(50% - 1.35rem);
  border-top: 1px dashed var(--color-purple-2);
  border-left: 1px dashed var(--color-purple-2);
  border-bottom: 1px dashed var(--color-purple-2);
}
.wb-grid .wb-grid-cell button.move.right {
  right: -2.5rem;
  top: calc(50% - 1.35rem);
  border-top: 1px dashed var(--color-purple-2);
  border-right: 1px dashed var(--color-purple-2);
  border-bottom: 1px dashed var(--color-purple-2);
}
.wb-grid .wb-grid-cell button.move.up {
  left: calc(50% - 1.35rem);
  top: -2.5rem;
  border-top: 1px dashed var(--color-purple-2);
  border-left: 1px dashed var(--color-purple-2);
  border-right: 1px dashed var(--color-purple-2);
}
.wb-grid .wb-grid-cell button.move.down {
  left: calc(50% - 1.35rem);
  bottom: -2.5rem;
  border-right: 1px dashed var(--color-purple-2);
  border-left: 1px dashed var(--color-purple-2);
  border-bottom: 1px dashed var(--color-purple-2);
}

/*# sourceMappingURL=grid.css.map */
