// Selects
.select {
	background: var(--color-white-1);
	border: 2px solid var(--color-purple-3);
	border-radius: 1rem;
	padding: 0.75rem 1.5rem;
	font-size: 1rem;
	width: 100%;
	margin: 0 0.5rem 0.5rem 0;
	cursor: pointer;
	display: grid;
	grid-template-areas: "select";
	align-items: center;
	position: relative;
	@media(max-width: 1024px) {
		width: 100%;
		min-width: 15ch;
		max-width: 100%;
	}
	&:after {
		content: "";
		width: 0.5em;
		height: 0.3em;
		background-color: var(--color-purple-1);
		clip-path: polygon(100% 0%, 0 0%, 50% 100%);
		justify-self: end;
	}
	select {
		appearance: none;
		-webkit-appearance:none;
		background-color: transparent;
		border: none;
		padding: 0 1em 0 0;
		margin: 0;
		width: 100%;
		font-family: inherit;
		font-size: inherit;
		cursor: inherit;
		line-height: inherit;
		outline: none;
	}
	select::-ms-expand {
		display: none;
	}
}

select, .select:after {
	grid-area: select;
}

select:focus + .focus {
	position: absolute;
	top: -1px;
	left: -1px;
	right: -1px;
	bottom: -1px;
	border: 2px solid var(--color-purple-2);
	border-radius: inherit;
}


// Checkbox
.checkbox {
	display: inline-block;
	vertical-align: middle;
	margin: 0.75rem 1rem 0.75rem 0;
	@media(max-width: 1024px) {
		display: block;
	}
	.checkbox-label {
		position: relative;
		display: block;
		height: 20px;
		width: 44px;
		background: var(--color-white-4);
		border-radius: 100px;
		cursor: pointer;
		transition: all 300ms ease;
		&:after {
			position: absolute;
			left: -2px;
			top: -3px;
			display: block;
			width: 26px;
			height: 26px;
			border-radius: 100px;
			background: var(--color-white-3);
			box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
			content: '';
			transition: all 300ms ease;
		}
		&:active:after {
			transform: scale(1.15, 0.85);
		}
	}
	.checkbox-input {
		display: none;
		&:checked ~ label {
			background: var(--color-purple-2);
			&:after {
				left: 20px;
				background: var(--color-purple-1);
			}
		}
		&:disabled ~ label {
			background: var(--color-white-4);
			pointer-events: none;
			&:after {
				background: var(--color-white-5);
			}
		}
	}
}


// Text input
input[type="text"], input[type="password"] {
	background: var(--color-white-1);
	border: 2px solid var(--color-purple-3);
	border-radius: 1rem;
	padding: 0.75rem 1.5rem;
	font-size: 1rem;
	width: 100%;
	margin: 0 0.5rem 0.5rem 0;
	&.vertical-spacer {
		margin: 2.5rem 0;
	}
	&.top-spacer {
		margin-top: 2.5rem;
	}
	&.bottom-spacer {
		margin-bottom: 2.5rem;
	}
	&.horizontal-spacer {
		margin: 1rem;
		width: calc(100% - 2rem);
		padding: 0.5rem 1.25rem;
		font-size: 1rem;
	}
	&.search {
		font-size: 1.25rem;
	}
	&.inline {
		display: inline-block;
		width: 3.75rem;
		padding: 0.15rem .35rem;
		text-align: center;
		margin: 0.5rem 0.15rem 0 0.5rem;
	}
	&:focus {
		outline: none;
		box-shadow: 0 0 0 3px var(--color-blue-1);
	}
}

textarea {
	background: var(--color-white-1);
	border: 2px solid var(--color-purple-3);
	border-radius: 1rem 1rem 0rem 1rem;
	padding: .5rem .5rem;
	font-size: 1rem;
	width: 100%;
	margin: 0 0.5rem 0.5rem 0;
	resize: vertical; 
}

// Range
input[type="range"] {
	-webkit-appearance: none;
	margin: 18px 0;
	width: auto;
	display: inline-block;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 0.525rem;
	cursor: pointer;
	background: var(--color-purple-3);
	border-radius: 1rem;
}
input[type=range]::-webkit-slider-thumb {
	box-shadow: 0px 1px 7px rgba(0,0,0,0.3);
	height: 1.45rem;
	width: 1.45rem;
	border-radius: 50%;
	background: var(--color-white-1);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -0.475rem;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: var(--color-purple-3);
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 0.525rem;
	cursor: pointer;
	background: var(--color-purple-3);
	border-radius: 1rem;
}
input[type=range]::-moz-range-thumb {
	box-shadow: 0px 1px 7px rgba(0,0,0,0.3);
	height: 1.45rem;
	width: 1.45rem;
	border-radius: 50%;
	background: var(--color-white-1);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -0.475rem;
}
input[type=range]::-ms-track {
	width: 100%;
	height: 0.525rem;
	cursor: pointer;
	background: var(--color-purple-3);
	border-radius: 1rem;
}
input[type=range]::-ms-fill-lower {
	width: 100%;
	height: 0.525rem;
	cursor: pointer;
	background: var(--color-purple-3);
	border-radius: 1rem;
}
input[type=range]::-ms-fill-upper {
	width: 100%;
	height: 0.525rem;
	cursor: pointer;
	background: var(--color-purple-3);
	border-radius: 1rem;
}
input[type=range]::-ms-thumb {
	box-shadow: 0px 1px 7px rgba(0,0,0,0.3);
	height: 1.45rem;
	width: 1.45rem;
	border-radius: 50%;
	background: var(--color-white-1);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -0.475rem;
}
input[type=range]:focus::-ms-fill-lower {
	background: var(--color-purple-3);
}
input[type=range]:focus::-ms-fill-upper {
	background: var(--color-purple-3);
}


// Number 
input[type="number"] {
	background: var(--color-white-1);
	border: 2px solid var(--color-purple-3);
	border-radius: 1rem;
	padding: 0.35rem 0.5rem;
	margin: 0 0.45rem;
	font-size: 1rem;
}


// Radio buttons
.radio {
  margin: 0.5rem;
  input[type="radio"] {
	position: absolute;
	opacity: 0;
	+ .radio-label {
	  &:before {
		content: '';
		background: var(--color-purple-4);
		border-radius: 100%;
		border: 1px solid var(--color-purple-2);
		display: inline-block;
		width: 1.4em;
		height: 1.4em;
		position: relative;
		//top: -0.2em;
		margin-right: 1em; 
		vertical-align: top;
		cursor: pointer;
		text-align: center;
		transition: all 250ms ease;
	  }
	}
	&:checked {
	  + .radio-label {
		&:before {
		  background-color: var(--color-purple-2);
		  box-shadow: inset 0 0 0 4px var(--color-purple-4);
		}
	  }
	}
	&:focus {
	  + .radio-label {
		&:before {
		  outline: none;
		  border-color: var(--color-purple-2);
		}
	  }
	}
	&:disabled {
	  + .radio-label {
		&:before {
		  box-shadow: inset 0 0 0 4px var(--color-purple-4);
		  border-color: var(--color-purple-3);
		  background: var(--color-purple-4);
		}
	  }
	}
	+ .radio-label {
	  &:empty {
		&:before {
		  margin-right: 0;
		}
	  }
	}
  }
}
