:root {
    --color-red-1: #ff6b6b;
    --color-red-2: #d05d5d;
    --color-red-3: #914343;
    
    --color-pink-1: #f06595;
    --color-pink-2: #cc5de8;
    
    --color-purple-1: #845ef7;
    --color-purple-1-2: #a587ff;
    --color-purple-2: #d0bfff;
    --color-purple-3: #ece5ff;
    --color-purple-4: #f9f7ff;
    
    --color-blue-1: #5c7cfa;
    --color-blue-2: #339af0;
    
    --color-green-1: #22b8cf;
    --color-green-2: #20c997;
    --color-green-3: #51cf66;
    --color-green-4: #94d82d;
    
    --color-yellow-1: #fcc419;
    
    --color-white-1: #ffffff;
    --color-white-2: #f9f9fd;
    --color-white-3: #f1f3f5;
    --color-white-4: #adb5bd;
    --color-white-5: #868e96;

    --color-black-1: #000000;
    --color-black-2: #333333;
}