@charset "UTF-8";
/* Project Settings */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-red-1: #ff6b6b;
  --color-red-2: #d05d5d;
  --color-red-3: #914343;
  --color-pink-1: #f06595;
  --color-pink-2: #cc5de8;
  --color-purple-1: #845ef7;
  --color-purple-1-2: #a587ff;
  --color-purple-2: #d0bfff;
  --color-purple-3: #ece5ff;
  --color-purple-4: #f9f7ff;
  --color-blue-1: #5c7cfa;
  --color-blue-2: #339af0;
  --color-green-1: #22b8cf;
  --color-green-2: #20c997;
  --color-green-3: #51cf66;
  --color-green-4: #94d82d;
  --color-yellow-1: #fcc419;
  --color-white-1: #ffffff;
  --color-white-2: #f9f9fd;
  --color-white-3: #f1f3f5;
  --color-white-4: #adb5bd;
  --color-white-5: #868e96;
  --color-black-1: #000000;
  --color-black-2: #333333;
}

html, body  {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  color: var(--color-black-2);
}

h1 {
  font-size: 3rem;
  background-image: linear-gradient(to right, var(--color-purple-1), var(--color-blue-1), var(--color-blue-2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1.headline {
  font-family: "Dancing Script", cursive;
}

h2.small {
  color: var(--color-white-4);
  font-size: 1.35rem;
  font-weight: 100;
}
h2.inline {
  display: inline-block;
}

h5 {
  margin-bottom: 0;
}

.page-title {
  color: var(--color-white-5);
  font-size: 1.5rem;
  font-weight: 100;
}

hr {
  border: 0;
  height: 1px;
  margin: 2rem 0;
  opacity: 0.3;
  background: linear-gradient(to right, var(--color-purple-1), var(--color-blue-1), var(--color-blue-2));
}

pre {
  line-break: anywhere;
  word-wrap: break-word;
}
pre.example {
  font-size: 0.8rem;
}

code {
  background: var(--color-purple-3);
  padding: 0.25rem 0.45rem;
  border-radius: 0.25rem;
}
code.code {
  margin-top: 0.5rem;
  word-wrap: break-word;
}

.filter-title {
  color: var(--color-white-4);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 100;
  color: var(--color-purple-1-2);
}

.right {
  text-align: right !important;
}

.left {
  text-align: left !important;
}

.center {
  text-align: center !important;
}

/* Project Styles */
body {
  background: var(--color-white-2);
}

.wrapper {
  display: grid;
  grid-template-columns: 360px 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.65rem 0.65rem;
  min-height: 100vh;
  grid-template-areas: "navigation content content" "navigation content content" "navigation content content";
}
@media (max-width: 1024px) {
  .wrapper {
    grid-template-columns: 60px 1fr 1fr;
    gap: 0.3rem 0.3rem;
  }
}

nav.navigation {
  grid-area: navigation;
  max-height: 100%;
  height: calc(100% - 1.3rem);
  margin: 0.65rem 0 0.65rem 0.65rem;
}
@media (max-width: 1024px) {
  nav.navigation {
    margin: 0.3rem 0 0.3rem 0.3rem;
  }
}
nav.navigation .navigation_logo {
  font-family: "Dancing Script", cursive;
  height: 80px;
  background: var(--color-white-1);
  border: 1px solid var(--color-white-3);
  border-radius: 1rem;
  margin-bottom: 0.65rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  nav.navigation .navigation_logo {
    margin-bottom: 0.3rem;
    height: 55px;
  }
}
nav.navigation .navigation_logo.desktop h1, nav.navigation .navigation_logo.mobile h1 {
  text-align: center;
  line-height: 1;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, var(--color-purple-1), var(--color-blue-1), var(--color-blue-2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav.navigation .navigation_logo.desktop {
  display: block;
}
@media (max-width: 1024px) {
  nav.navigation .navigation_logo.desktop {
    display: none;
  }
}
nav.navigation .navigation_logo.desktop h1 {
  font-size: 4rem;
}
nav.navigation .navigation_logo.mobile {
  display: none;
}
@media (max-width: 1024px) {
  nav.navigation .navigation_logo.mobile {
    display: block;
  }
}
nav.navigation .navigation_logo.mobile h1 {
  font-size: 3rem;
  position: relative;
  top: -0.5rem;
}
nav.navigation .navigation_inner {
  background: var(--color-white-1);
  border: 1px solid var(--color-white-3);
  border-radius: 1rem;
  overflow: hidden;
  overflow-y: scroll;
  height: 100%;
  position: relative;
}
@media (max-width: 1024px) {
  nav.navigation .navigation_inner .nav-search {
    display: none;
  }
}
nav.navigation .navigation_inner .nav-items ul {
  margin: 1rem;
  padding: 0;
  list-style: none;
}
@media (max-width: 1024px) {
  nav.navigation .navigation_inner .nav-items ul {
    margin: 0.25rem;
  }
}
nav.navigation .navigation_inner .nav-items ul li {
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
}
nav.navigation .navigation_inner .nav-items ul li.external {
  position: relative;
}
nav.navigation .navigation_inner .nav-items ul li.external:after {
  position: absolute;
  content: url(/assets/img/link.svg);
  height: 1rem;
  width: 1rem;
  right: 1rem;
  top: 1.3rem;
}
@media (max-width: 1024px) {
  nav.navigation .navigation_inner .nav-items ul li.external:after {
    display: none;
  }
}
@media (max-width: 1024px) {
  nav.navigation .navigation_inner .nav-items ul li {
    margin-bottom: 0.25rem;
  }
}
nav.navigation .navigation_inner .nav-items ul li a {
  display: block;
  font-size: 1.15rem;
  line-height: 1;
  color: var(--color-white-5);
  text-decoration: none;
  border-radius: 1rem;
  padding: 0.5rem;
}
@media (max-width: 1024px) {
  nav.navigation .navigation_inner .nav-items ul li a {
    border-radius: 0.8rem;
  }
}
nav.navigation .navigation_inner .nav-items ul li a:hover {
  background: var(--color-white-2);
}
nav.navigation .navigation_inner .nav-items ul li a img {
  display: inline-block;
  width: 48px;
  vertical-align: middle;
  margin-right: 0.5rem;
}
@media (max-width: 1024px) {
  nav.navigation .navigation_inner .nav-items ul li a span {
    display: none;
  }
}
@media (max-width: 1024px) {
  nav.navigation .navigation_inner .github {
    display: none;
  }
}

#password-generator .password-generator,
#idn-converter .idn-converter,
#identity-generator .identity-generator,
#smtp .smtp,
#color-converter .color-converter,
#dns .dns,
#whois .whois,
#ip-lookup .ip-lookup,
#gradient .gradient,
#fluid-typography .fluid-typography,
#lorem-ipsum .lorem-ipsum,
#htpasswd .htpasswd,
#css-grid .css-grid,
#cron .cron,
#placeholder .placeholder,
#pattern .pattern,
#filter .filter,
#morse .morse,
#device-info .device-info,
#ssh .ssh,
#meta .meta,
#portscanner .portscanner {
  font-weight: 700;
  color: var(--color-black-2);
  background: var(--color-white-2);
}
@media (max-width: 1024px) {
  #password-generator .password-generator,
#idn-converter .idn-converter,
#identity-generator .identity-generator,
#smtp .smtp,
#color-converter .color-converter,
#dns .dns,
#whois .whois,
#ip-lookup .ip-lookup,
#gradient .gradient,
#fluid-typography .fluid-typography,
#lorem-ipsum .lorem-ipsum,
#htpasswd .htpasswd,
#css-grid .css-grid,
#cron .cron,
#placeholder .placeholder,
#pattern .pattern,
#filter .filter,
#morse .morse,
#device-info .device-info,
#ssh .ssh,
#meta .meta,
#portscanner .portscanner {
    background: var(--color-purple-3);
  }
}

main.content {
  grid-area: content;
  min-height: 100vh;
  margin: 0.65rem 0.65rem 0 0px;
}
@media (max-width: 1024px) {
  main.content {
    margin: 0.3rem 0.3rem 0 0px;
  }
}
main.content .content_block {
  background: var(--color-white-1);
  border: 1px solid var(--color-white-3);
  border-radius: 1rem;
  margin-bottom: 0.65rem;
  padding: 1rem;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1024px) {
  main.content .content_block {
    margin-bottom: 0.3rem;
  }
}
main.content .content_block .beta {
  position: absolute;
  background: var(--color-purple-1);
  color: var(--color-white-1);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.85rem;
  padding: 0.2rem 0;
  letter-spacing: 1px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.35);
  transform: rotate(45deg);
  right: -25px;
  width: 120px;
  text-align: center;
  top: 20px;
}

.select {
  background: var(--color-white-1);
  border: 2px solid var(--color-purple-3);
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  width: 100%;
  margin: 0 0.5rem 0.5rem 0;
  cursor: pointer;
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
}
@media (max-width: 1024px) {
  .select {
    width: 100%;
    min-width: 15ch;
    max-width: 100%;
  }
}
.select:after {
  content: "";
  width: 0.5em;
  height: 0.3em;
  background-color: var(--color-purple-1);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
}
.select select {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}
.select select::-ms-expand {
  display: none;
}

select, .select:after {
  grid-area: select;
}

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--color-purple-2);
  border-radius: inherit;
}

.checkbox {
  display: inline-block;
  vertical-align: middle;
  margin: 0.75rem 1rem 0.75rem 0;
}
@media (max-width: 1024px) {
  .checkbox {
    display: block;
  }
}
.checkbox .checkbox-label {
  position: relative;
  display: block;
  height: 20px;
  width: 44px;
  background: var(--color-white-4);
  border-radius: 100px;
  cursor: pointer;
  transition: all 300ms ease;
}
.checkbox .checkbox-label:after {
  position: absolute;
  left: -2px;
  top: -3px;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  background: var(--color-white-3);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
  content: "";
  transition: all 300ms ease;
}
.checkbox .checkbox-label:active:after {
  transform: scale(1.15, 0.85);
}
.checkbox .checkbox-input {
  display: none;
}
.checkbox .checkbox-input:checked ~ label {
  background: var(--color-purple-2);
}
.checkbox .checkbox-input:checked ~ label:after {
  left: 20px;
  background: var(--color-purple-1);
}
.checkbox .checkbox-input:disabled ~ label {
  background: var(--color-white-4);
  pointer-events: none;
}
.checkbox .checkbox-input:disabled ~ label:after {
  background: var(--color-white-5);
}

input[type=text], input[type=password] {
  background: var(--color-white-1);
  border: 2px solid var(--color-purple-3);
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  width: 100%;
  margin: 0 0.5rem 0.5rem 0;
}
input[type=text].vertical-spacer, input[type=password].vertical-spacer {
  margin: 2.5rem 0;
}
input[type=text].top-spacer, input[type=password].top-spacer {
  margin-top: 2.5rem;
}
input[type=text].bottom-spacer, input[type=password].bottom-spacer {
  margin-bottom: 2.5rem;
}
input[type=text].horizontal-spacer, input[type=password].horizontal-spacer {
  margin: 1rem;
  width: calc(100% - 2rem);
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
}
input[type=text].search, input[type=password].search {
  font-size: 1.25rem;
}
input[type=text].inline, input[type=password].inline {
  display: inline-block;
  width: 3.75rem;
  padding: 0.15rem 0.35rem;
  text-align: center;
  margin: 0.5rem 0.15rem 0 0.5rem;
}
input[type=text]:focus, input[type=password]:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--color-blue-1);
}

textarea {
  background: var(--color-white-1);
  border: 2px solid var(--color-purple-3);
  border-radius: 1rem 1rem 0rem 1rem;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  width: 100%;
  margin: 0 0.5rem 0.5rem 0;
  resize: vertical;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: auto;
  display: inline-block;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.525rem;
  cursor: pointer;
  background: var(--color-purple-3);
  border-radius: 1rem;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.3);
  height: 1.45rem;
  width: 1.45rem;
  border-radius: 50%;
  background: var(--color-white-1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.475rem;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--color-purple-3);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 0.525rem;
  cursor: pointer;
  background: var(--color-purple-3);
  border-radius: 1rem;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.3);
  height: 1.45rem;
  width: 1.45rem;
  border-radius: 50%;
  background: var(--color-white-1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.475rem;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 0.525rem;
  cursor: pointer;
  background: var(--color-purple-3);
  border-radius: 1rem;
}

input[type=range]::-ms-fill-lower {
  width: 100%;
  height: 0.525rem;
  cursor: pointer;
  background: var(--color-purple-3);
  border-radius: 1rem;
}

input[type=range]::-ms-fill-upper {
  width: 100%;
  height: 0.525rem;
  cursor: pointer;
  background: var(--color-purple-3);
  border-radius: 1rem;
}

input[type=range]::-ms-thumb {
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.3);
  height: 1.45rem;
  width: 1.45rem;
  border-radius: 50%;
  background: var(--color-white-1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.475rem;
}

input[type=range]:focus::-ms-fill-lower {
  background: var(--color-purple-3);
}

input[type=range]:focus::-ms-fill-upper {
  background: var(--color-purple-3);
}

input[type=number] {
  background: var(--color-white-1);
  border: 2px solid var(--color-purple-3);
  border-radius: 1rem;
  padding: 0.35rem 0.5rem;
  margin: 0 0.45rem;
  font-size: 1rem;
}

.radio {
  margin: 0.5rem;
}
.radio input[type=radio] {
  position: absolute;
  opacity: 0;
}
.radio input[type=radio] + .radio-label:before {
  content: "";
  background: var(--color-purple-4);
  border-radius: 100%;
  border: 1px solid var(--color-purple-2);
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.radio input[type=radio]:checked + .radio-label:before {
  background-color: var(--color-purple-2);
  box-shadow: inset 0 0 0 4px var(--color-purple-4);
}
.radio input[type=radio]:focus + .radio-label:before {
  outline: none;
  border-color: var(--color-purple-2);
}
.radio input[type=radio]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px var(--color-purple-4);
  border-color: var(--color-purple-3);
  background: var(--color-purple-4);
}
.radio input[type=radio] + .radio-label:empty:before {
  margin-right: 0;
}

button, .btn {
  border: 0;
  background: var(--color-purple-3);
  padding: 0.5rem 1rem;
  color: var(--color-purple-1);
  border-radius: 1rem;
  margin: 0 0 1rem 0;
  cursor: pointer;
  transform: scale(1);
  transition: all 90ms ease-in-out;
}
button:hover, .btn:hover {
  transform: scale(1.03);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}
button:active, .btn:active {
  transform: scale(1.015);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
button.block, .btn.block {
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.75rem 0;
  position: relative;
  top: -0.35rem;
}
button.center, .btn.center {
  margin: 0 auto;
}
button.tiny, .btn.tiny {
  padding: 0.25rem 0.75rem;
  font-size: 0.85rem;
}
button.filter, .btn.filter {
  padding: 0.25rem 0.75rem;
  font-size: 0.85rem;
  background: var(--color-purple-4);
  color: var(--color-purple-1-2);
}
button.filter.active, .btn.filter.active {
  background: var(--color-purple-2);
  color: var(--color-purple-1);
}
button.github, .btn.github {
  display: inline-block;
  background: var(--color-white-1);
  border: 2px solid var(--color-white-3);
  color: var(--color-white-4);
  text-align: left;
  margin-top: 1.5rem;
}
button.github.center, .btn.github.center {
  margin: 3rem 1rem;
  display: block;
}
button.github .github-inner, .btn.github .github-inner {
  display: flex;
  width: auto;
}
button.github .github-inner .text, .btn.github .github-inner .text {
  font-size: 0.85rem;
}
button.github .github-inner .text .title, .btn.github .github-inner .text .title {
  font-size: 0.9rem;
  font-weight: bold;
}
button.github .github-inner .logo svg, .btn.github .github-inner .logo svg {
  margin: 0.35rem 0.75rem 0 0;
  fill: var(--color-white-4);
}

.card {
  background: var(--color-white-1);
  border-radius: 1rem;
  border: 1px solid var(--color-white-3);
  text-decoration: none;
  display: block;
  transform: scale(1);
  transition: all 110ms ease-in-out;
  margin-bottom: 1rem;
  position: relative;
}
.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.075);
  transform: scale(1.05);
}
.card .card-header {
  background: var(--color-white-2);
  border-radius: 1rem 1rem 0 0;
  padding: 30px 0;
  border-bottom: 1px solid var(--color-white-3);
}
.card .card-header img {
  height: 94px;
  width: 94px;
  margin: 0 auto;
}
.card .card-body {
  background: var(--color-white-1);
  border-radius: 0 0 1rem 1rem;
  padding: 1rem 1.5rem 2.5rem 1.5rem;
  text-align: center;
}
.card .card-body h2 {
  font-size: 1.25rem;
  font-weight: normal;
  color: var(--color-black-2);
}
.card .card-body p {
  font-weight: 100;
  color: var(--color-white-5);
}

.alert {
  background: var(--color-purple-4);
  border: 2px solid var(--color-purple-3);
  border-radius: 1rem;
  color: var(--color-purple-1);
  position: relative;
  padding: 1.5rem;
  margin-bottom: 1rem;
}
.alert a {
  color: var(--color-purple-2);
}
.alert a:hover {
  color: var(--color-purple-1);
}
.alert.alert-dismissible button.close {
  position: absolute;
  top: 0;
  right: 0;
  background: 0;
}
.alert.alert-dismissible button.close:hover {
  box-shadow: none;
}

table {
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
table th, table td {
  padding: 0.5rem;
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid var(--color-white-4);
}
table .th {
  font-family: "Open Sans Bold", sans-serif;
}
table thead th {
  vertical-align: bottom;
}
table.fixed {
  table-layout: fixed;
}
table.border {
  border: 0.1rem solid #ccc;
}
table.border th, table.border td {
  padding: 0.8rem;
  border: 0.1rem solid #ccc;
}
table.border th {
  background-color: rgba(0, 0, 0, 0.05);
}
table.highlight tbody tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.03);
}

.tag {
  position: absolute;
  top: 10px;
  right: -10px;
  padding: 0.25rem 0.55rem;
  border-radius: 0.35rem 0.35rem 0 0.35rem;
  background: var(--color-purple-3);
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: uppercase;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  transition: all 150ms ease-in-out;
}
.tag:after {
  content: "";
  position: absolute;
  right: 0px;
  bottom: -10px;
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 9px solid transparent;
  border-top: 10px solid var(--color-purple-2);
}
.tag:active {
  color: var(--color-purple-1);
}

.card:hover .tag {
  padding: 0.25rem 2.55rem;
}

footer#footer {
  text-align: center;
  padding: 3rem 0;
}
footer#footer p {
  color: var(--color-purple-2);
}
footer#footer p a {
  color: var(--color-purple-1-2);
}

.ad {
  display: inline-block;
  visibility: visible;
  opacity: 1;
  background: #fff;
  position: fixed;
  transition: all 250ms ease-in-out;
  right: 1rem;
  bottom: 1rem;
  width: 130px;
  z-index: 5;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 7px 30px rgba(0, 0, 0, 0.15), 0 5px 10px rgba(0, 0, 0, 0.12);
}
@media (max-width: 750px) {
  .ad {
    width: 100%;
    height: 100px;
    left: 0;
    bottom: 0px;
    box-shadow: 0 -7px 30px rgba(0, 0, 0, 0.15), 0 5px 10px rgba(0, 0, 0, 0.12);
  }
}
.ad .close-button {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 0 3px;
  color: var(--color-five);
  font-size: 1.2rem;
}
.ad .close-button:hover {
  color: var(--color-three);
}
@media (max-width: 750px) {
  .ad #carbonads .carbon-wrap {
    display: flex;
  }
}
.ad #carbonads .carbon-img {
  display: block;
}
@media (max-width: 750px) {
  .ad #carbonads .carbon-img {
    display: inline-block;
    margin-bottom: -4px;
  }
}
.ad #carbonads .carbon-text {
  display: block;
  text-align: center;
  font-size: 0.9rem;
  color: var(--color-five);
  text-decoration: none;
  margin: 5px;
}
@media (max-width: 750px) {
  .ad #carbonads .carbon-text {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 170px);
    text-align: left;
    padding: 5px 0 5px 10px;
  }
}
.ad #carbonads .carbon-text:hover {
  color: var(--color-six);
}
.ad #carbonads .carbon-poweredby {
  display: block;
  color: var(--color-four);
  text-align: center;
  font-size: 0.9rem;
  margin: 5px;
  text-decoration: none;
}
@media (max-width: 750px) {
  .ad #carbonads .carbon-poweredby {
    position: absolute;
    bottom: 5px;
    left: 140px;
    width: calc(100% - 170px);
    text-align: left;
  }
}
.ad #carbonads .carbon-poweredby:hover {
  color: var(--color-six);
}
.ad.closed {
  visibility: hidden;
  opacity: 0;
  bottom: -250px;
  left: -130px;
}

/*# sourceMappingURL=app.css.map */
