body {
	background: var(--color-white-1);
}
.landingpage {
	min-height: 100vh;
	background: var(--color-white-1);
	@media(max-width: 1024px) {
		padding: 0 1rem;
	}
	
	header {
		padding: 75px 0 0 0;
		a.logo {
			font-family: 'Dancing Script', cursive;
			text-decoration: none;
			background-image: linear-gradient(to right,
				var(--color-purple-1), 
				var(--color-blue-1), 
				var(--color-blue-2)
			);
			h1 {
				font-size: 6rem;
				line-height: 1;
			}
			@media(max-width: 1024px) {
				
			}
		}
		hr {
			background: var(--color-white-4);
			margin-bottom: 1rem;
		}
	}
	
	main {
		
	}
		
}
footer#footer {
	text-align: center;
	padding: 3rem 0;
	background: var(--color-white-1);
	p {
		color: var(--color-purple-2);
		a {
			color: var(--color-purple-1-2);
		}
	}
}