:root {
	--color-base-1: #19191a;
	--color-base-2: #ffffff;
	--color-theme-1: #FF2E63;
	--font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

.w_box {
	box-sizing: border-box;
	background: var(--color-base-2);
	color: var(--color-base-1);
	font-family: var(--font-family);
	//padding: 2rem 1rem 0rem 1rem;
	padding: 0.5rem;
	box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
	border-radius: 6px;
	position: fixed;
	width: calc(100% - 30px);
	max-width: 353px;
	-webkit-perspective: 100px;
	perspective: 100px;
	-webkit-perspective-origin: 50% 100%;
	perspective-origin: 50% 100%;
	pointer-events: all;
	font-weight: inherit;
	z-index: 1;
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	opacity: 0;
	visibility: visible;
	-webkit-transform: scale(0);
	transform:scale(0)
}

.w_box.w_animate {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	visibility:visible
}

.w_box:hover > .w_close {
	opacity:1
}

.w_box.closed {
	opacity: 0;
	visibility:hidden
}

.w_box.top {
	top: 1rem !important;
	bottom: auto !important;
	-webkit-transform-origin: top;
	transform-origin:top
}

.w_box.top.closed {
	top: -2rem !important;
	opacity: 0;
	visibility:hidden
}

.w_box.bottom {
	bottom: 1rem !important;
	top: auto !important;
	-webkit-transform-origin: bottom;
	transform-origin:bottom
}

.w_box.bottom.closed {
	bottom: -2rem !important;
	opacity: 0;
	visibility:hidden
}

.w_box.left {
	left: 1rem !important;
	right: auto !important;
	-webkit-transform-origin: left;
	transform-origin:left
}

.w_box.left.closed {
	left: -2rem !important;
	opacity: 0;
	visibility:hidden
}

.w_box.right {
	right: 1rem !important;
	left: auto !important;
	-webkit-transform-origin: right;
	transform-origin:right
}

.w_box.right.closed {
	right: -2rem !important;
	opacity: 0;
	visibility:hidden
}

.w_box.center {
	top: 30%;
	left:calc(50% - calc(353px/2))
}

.w_box.center.closed {
	top: -2rem !important;
	opacity: 0;
	visibility:hidden
}

.w_box.theme {
	background-color: var(--color-theme-1);
	color:var(--color-base-2)
}

.w_box.theme .w_tag {
	color: inherit;
	opacity:0.5
}

.w_box.theme .w_footer_button.highlight {
	color: inherit !important;
	font-weight:bold
}

.w_box.theme .w_content_button {
	background: var(--color-base-2) !important;
	color:var(--color-theme-1) !important
}

.w_box.w_arrow {
	padding: 1.5rem 4rem 0rem 1rem;
	position:absolute
}

.w_box.w_arrow:after {
	content: "";
	z-index: 2;
	position: absolute;
	top: 1rem;
	right: 1rem;
	display: block;
	height: calc(100% - 2rem);
	width: 1rem;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDExIDE4Ij4gIDxwb2x5Z29uIGZpbGw9IiMyRjJFMzUiIHBvaW50cz0iNTAyIDUyLjg4NSA1MDguNzk5IDQ2IDUwMiAzOS4xMTUgNTA0LjA5MyAzNyA1MTMgNDYgNTA0LjA5MyA1NSIgb3BhY2l0eT0iLjQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC01MDIgLTM3KSIvPjwvc3ZnPg==);
	background-repeat: no-repeat;
	background-position:center center
}

.w_box.w_app_icon {
	display: -webkit-box;
	display:flex
}

.w_box.w_social {
	padding: 2rem 0rem 0rem 0rem;
	max-width:253px
}

.w_box.w_social .w_title {
	font-size: 1.5rem;
	margin-bottom:1.5rem
}

.w_box .w_close {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	height: 1rem;
	width: 1rem;
	border: 0;
	padding: 0;
	background: transparent;
	z-index: 10;
	cursor: pointer;
	font-size: 1rem;
	opacity: 0;
	-webkit-transition: opacity 250ms ease-in-out;
	transition:opacity 250ms ease-in-out
}

.w_box .w_close:hover {
	opacity:0.8
}

.w_box .w_close.white {
	color:var(--color-base-2)
}

.w_box .w_close.white:hover {
	opacity:0.8
}

.w_box .w_close.black {
	color:var(--color-base-1)
}

.w_box .w_close.black:hover {
	opacity:0.8
}

.w_box .w_banner {
	height: 200px;
	margin: -2rem -1rem 1.5rem -1rem;
	background-size: cover;
	background-position: center center;
	border-radius:6px 6px 0 0
}

.w_box .w_tag {
	color: var(--color-theme-1);
	font-weight: bold;
	font-style: italic;
	font-size: 0.9rem;
	margin-bottom:0.5rem
}

.w_box .w_head {
	margin-bottom:2.5rem
}

.w_box .w_title {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom:1rem
}

.w_box .w_title.center {
	text-align:center
}

.w_box .w_content {
	font-size: 1rem;
	line-height: 1.5;
	opacity: 0.9;
	margin-bottom:1.5rem
}

.w_box .w_content.center {
	text-align:center
}

.w_box .w_content strong.highlight {
	color: var(--color-theme-1);
	font-size:1.25rem
}

.w_box .w_content .w_content_button {
	background: var(--color-theme-1);
	color: var(--color-base-2);
	border: none;
	box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.4);
	border-radius: 3px;
	text-align: center;
	text-decoration: none;
	padding: 1rem 0;
	font-size: 1rem;
	display: block;
	width: 100%;
	-webkit-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
	margin:0
}

.w_box .w_content .w_content_button:hover {
	opacity:0.9
}

.w_box .w_social_buttons {
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	border-radius: 0;
	margin:0
}

.w_box .w_social_buttons .w_social_button {
	width: 50%;
	height: 80px;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-transition: all 150ms ease-in-out;
	transition:all 150ms ease-in-out
}

.w_box .w_social_buttons .w_social_button:hover {
	-webkit-transform: scale(1.025);
	transform:scale(1.025)
}

.w_box .w_social_buttons .w_social_button svg {
	fill: white;
	width: 2.5rem;
	height:2.5rem
}

.w_box .w_footer {
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	margin: 0 -1rem;
	display: -webkit-box;
	display:flex
}

.w_box .w_footer .w_footer_button {
	background: transparent;
	color: inherit;
	border: none;
	padding: 1.5rem 1rem;
	margin: 0;
	width: 100%;
	cursor: pointer;
	-webkit-transition: background 250ms ease-in-out;
	transition: background 250ms ease-in-out;
	font-size: 1rem;
	border-radius:0
}

.w_box .w_footer .w_footer_button.feedback {
	font-size: 2rem;
	border-right:1px solid rgba(0, 0, 0, 0.3)
}

.w_box .w_footer .w_footer_button.feedback:last-child {
	border-right:none
}

.w_box .w_footer .w_footer_button.highlight {
	font-weight: bold;
	color:var(--color-theme-1)
}

.w_box .w_footer .w_footer_button:hover {
	background:rgba(0, 0, 0, 0.1)
}

.w_box .w_footer.center {
	text-align: center;
	margin:0 0
}

.w_box .w_footer.center p {
	width:100%
}

.w_box .w_icon {
	margin-right:0.75rem
}

.w_box .w_icon.top {
	position: absolute;
	top: -32px;
	left:calc(50% - 32px)
}

.w_bar {
	box-sizing: border-box;
	background: var(--color-base-2);
	color: var(--color-base-1);
	font-family: var(--font-family);
	padding: 1rem 2rem;
	box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
	border-radius: 6px;
	position: fixed;
	width: calc(100% - 30px);
	max-width: 850px;
	-webkit-perspective: 100px;
	perspective: 100px;
	-webkit-perspective-origin: 50% 100%;
	perspective-origin: 50% 100%;
	pointer-events: all;
	font-weight: inherit;
	z-index: 1;
	overflow: hidden;
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	opacity: 0;
	visibility: visible;
	-webkit-transform: scale(0);
	transform:scale(0)
}

@media (max-width: 768px) {
	.w_bar {
		display: block;
		text-align:center
	}
}

.w_bar.w_animate {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	visibility:visible
}

.w_bar:hover .w_close {
	opacity:1
}

.w_bar.closed {
	opacity: 0;
	visibility:hidden
}

.w_bar.top {
	top: 1rem !important;
	bottom: auto !important;
	-webkit-transform-origin: top;
	transform-origin:top
}

.w_bar.top.closed {
	top: -2rem !important;
	opacity: 0;
	visibility:hidden
}

.w_bar.bottom {
	bottom: 1rem !important;
	top: auto !important;
	-webkit-transform-origin: bottom;
	transform-origin:bottom
}

.w_bar.bottom.closed {
	bottom: -2rem !important;
	opacity: 0;
	visibility:hidden
}

.w_bar.left {
	left: 1rem !important;
	right: auto !important;
	-webkit-transform-origin: left;
	transform-origin:left
}

.w_bar.left.closed {
	left: -2rem !important;
	opacity: 0;
	visibility:hidden
}

.w_bar.right {
	right: 1rem !important;
	left: auto !important;
	-webkit-transform-origin: right;
	transform-origin:right
}

.w_bar.right.closed {
	right: -2rem !important;
	opacity: 0;
	visibility:hidden
}

.w_bar.center {
	top: 30%;
	left:calc(50% - calc(850px/2))
}

@media (max-width: 850px) {
	.w_bar.center {
		left:1rem
	}
}

.w_bar.center.closed {
	top: -2rem !important;
	opacity: 0;
	visibility:hidden
}

.w_bar.full {
	width: 100vw;
	max-width: 100vw;
	left: 0 !important;
	bottom: 0;
	border-radius: 0;
	box-shadow:0 -5px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12)
}

.w_bar.full .w_bar_inner {
	margin: 0 auto;
	width: 100%;
	max-width: 1100px;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content:space-between
}

@media (max-width: 768px) {
	.w_bar.full .w_bar_inner {
		display: block;
		text-align:center
	}
}

.w_bar.full.top {
	top:0 !important
}

.w_bar.full.bottom {
	bottom:0 !important
}

.w_bar.theme {
	background-color: var(--color-theme-1);
	color:var(--color-base-2)
}

.w_bar.theme .w_tag {
	color: inherit;
	opacity:0.5
}

.w_bar.theme .w_footer_button.highlight, .w_bar.theme .w_footer_button {
	color: var(--color-theme-1) !important;
	background: var(--color-base-2) !important;
	font-weight:bold
}

.w_bar .w_close {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	height: 1rem;
	width: 1rem;
	border: 0;
	padding: 0;
	background: transparent;
	z-index: 10;
	cursor: pointer;
	font-size: 1rem;
	opacity: 0;
	-webkit-transition: opacity 250ms ease-in-out;
	transition:opacity 250ms ease-in-out
}

.w_bar .w_close:hover {
	opacity:0.8
}

.w_bar .w_close.white {
	color:var(--color-base-2)
}

.w_bar .w_close.white:hover {
	opacity:0.8
}

.w_bar .w_close.black {
	color:var(--color-base-1)
}

.w_bar .w_close.black:hover {
	opacity:0.8
}

@media (max-width: 768px) {
	.w_bar .w_footer {
		margin-bottom:1.5rem
	}
}

.w_bar .w_footer .w_footer_button {
	background: var(--color-theme-1);
	border: 0;
	padding: 0.7rem 2rem;
	font-size: 1rem;
	color: var(--color-base-2);
	border-radius: 6px;
	cursor: pointer;
	display:block
}

.w_bar .w_content {
	margin: 0;
	padding:0
}

@media (max-width: 768px) {
	.w_bar .w_content {
		margin-bottom:1.5rem
	}
}

.w_bar .w_icon {
	margin: 0;
	padding:0
}

@media (max-width: 768px) {
	.w_bar .w_icon {
		margin-bottom: 1.5rem
	}
}

