.ad {
	  display: inline-block;
	  visibility: visible;
	  opacity: 1;
	  background: #fff;
	  position: fixed;
	  transition: all 250ms ease-in-out;
	  right: 1rem;
	  bottom: 1rem;
	  width: 130px;
	  z-index: 5;
	  border-radius: 2px;
	  overflow: hidden;
	  box-shadow: 0 7px 30px rgba(0,0,0,0.15), 0 5px 10px rgba(0,0,0,0.12);
	  @media(max-width: 750px) {
		width: 100%;
		height: 100px;
		left: 0;
		bottom: 0px;
		box-shadow: 0 -7px 30px rgba(0,0,0,0.15), 0 5px 10px rgba(0,0,0,0.12);
	  }
	  .close-button {
		cursor: pointer;
		display: inline-block;
		position: absolute;
		right: 5px;
		top: 5px;
		padding: 0 3px;
		color: var(--color-five);
		font-size: 1.2rem;
		&:hover {
		  color: var(--color-three);
		}
	  }
	  #carbonads {
		.carbon-wrap {
		  @media(max-width: 750px) {
			display: flex;
		  }
		}
		.carbon-img {
		  display: block;
		  @media(max-width: 750px) {
			display: inline-block;
			margin-bottom: -4px;
		  }
		}
		.carbon-text {
		  display: block;
		  text-align: center;
		  font-size: 0.9rem;
		  color: var(--color-five);
		  text-decoration: none;
		  margin: 5px;
		  @media(max-width: 750px) {
			display: inline-block;
			vertical-align: top;
			width: calc(100% - 170px);
			text-align: left;
			padding: 5px 0 5px 10px;
		  }
		  &:hover {
			color: var(--color-six);
		  }
		}
		.carbon-poweredby {
		  display: block;
		  color: var(--color-four);
		  text-align: center;
		  font-size: 0.9rem;
		  margin: 5px;
		  text-decoration: none;
		  @media(max-width: 750px) {
			position: absolute;
			bottom: 5px;
			left: 140px;
			width: calc(100% - 170px);
			text-align: left;
		  }
		  &:hover {
			color: var(--color-six);
		  }
		}
	  }
	  &.closed {
		visibility: hidden;
		opacity: 0;
		bottom: -250px;
		left: -130px;
	  }
	}
	