body {
	background: var(--color-white-2);
}
.wrapper {
	display: grid; 
	grid-template-columns: 360px 1fr 1fr; 
	grid-template-rows: 1fr 1fr 1fr; 
	gap: 0.65rem 0.65rem;
	min-height: 100vh;
	grid-template-areas:
		"navigation content content"
		"navigation content content"
		"navigation content content"; 
	@media(max-width: 1024px) {
		grid-template-columns: 60px 1fr 1fr;
		gap: 0.30rem 0.30rem; 
	}
}