html, body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	color: var(--color-black-2);
}

h1 {
	font-size: 3rem;
	background-image: linear-gradient(to right,
		var(--color-purple-1), 
		var(--color-blue-1), 
		var(--color-blue-2)
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	&.headline {
		font-family: 'Dancing Script', cursive;
	}
}
h2 {
	&.small {
		color: var(--color-white-4);
		font-size: 1.35rem;
		font-weight: 100;
	}
	&.inline {
		display: inline-block;
	}
}

h5 {
	margin-bottom: 0;
}

.page-title {
	color: var(--color-white-5);
	font-size: 1.5rem;
	font-weight: 100;
}

hr {
	border: 0;
	height: 1px;
	margin: 2rem 0;
	opacity: 0.3;
	background: linear-gradient(to right,
		var(--color-purple-1), 
		var(--color-blue-1), 
		var(--color-blue-2)
	);
}
pre {
	line-break: anywhere;
	word-wrap: break-word;
	&.example {
		font-size: 0.8rem;
	}
}
code {
	background: var(--color-purple-3);
	padding: 0.25rem 0.45rem;
	border-radius: 0.25rem;
	&.code {
		margin-top: 0.5rem;
		word-wrap: break-word;
	}
}
.filter-title {
	color: var(--color-white-4);
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 100;
	color: var(--color-purple-1-2);
}

.right {
	text-align: right !important;
}
.left {
	text-align: left !important;
}
.center {
	text-align: center !important;
}