/* _buttons.scss */

/* Base button styles */
.button {
    display: inline-block;
    padding: 0.75em 1.5em;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none !important;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Primary Button */
.button-primary {
    background-color: var(--btn-primary-bg);
    color: var(--btn-primary-color);
  
    &:hover, &:focus {
        background-color: var(--btn-primary-hover-bg);
        color: var(--btn-primary-color) !important;
    }
}

/* Secondary Button */
.button-secondary {
    background-color: var(--btn-secondary-bg);
    color: var(--btn-secondary-color);
    border: 1px solid var(--color-light-gray-border);

    &:hover, &:focus {
        background-color: var(--btn-secondary-hover-bg);
        color: var(--btn-secondary-color) !important;
    }
}

/* Danger Button */
.button-danger {
    background-color: var(--btn-danger-bg);
    color: var(--btn-danger-color);

    &:hover, &:focus {
        background-color: var(--btn-danger-hover-bg);
    }
}

/* Disabled Button */
.button:disabled {
    background-color: var(--color-element-bg);
    color: var(--color-light-gray-border);
    cursor: not-allowed;
    opacity: 0.6;
}